* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background: black;
}

#hero {
	width: 100%;
	height: 100vh;
	/* background-image: url(img/bg1.png); */
	background-size: cover;
	background-position: center;
	position: relative;
}

.navbar {
	width: 90%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 10;
}

.navbar .logo {
	width: 70px;
	margin: 20px 0;
	cursor: pointer;
}

.user {
	display: flex;
	align-items: center;
}

.user .logotxt {
	padding: 10px 30px;
	background: transparent;
	outline: none;
	border: 2px solid #fff;
	border-radius: 20px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	transition: 1.5s;
}

.user li {
	list-style-type: none;
	margin-left: 15px;
}

.logotxt:hover {
	box-shadow: 0 5px 50px 0 #ffffffe8 inset, 0 5px 50px 0 #ffffffe8, 0 5px 50px 0 #ffffffe8 inset,
		0 5px 50px 0 #ffffffe8;
	text-shadow: 0 0 5px #000000a1, 0 0 5px #000000a1;
	color: #ffffff;
}

.container {
	width: 50%;
	height: 100vh;
	background: rgba(86, 86, 86, 0.3);
	backdrop-filter: blur(10px);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.info {
	width: 580px;
	color: #fff;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.info h1 {
	font-size: 80px;
	letter-spacing: 10px;
}

.info p {
	color: #f0eef1;
	font-size: 15px;
	margin: 20px 0px 50px 0px;
	line-height: 18px;
}

#btn-a {
	position: relative;
	display: inline-block;
	padding: 18px 41px;
	margin: 0px;
	color: #fff;
	border: 2px solid #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 2px;
	border-radius: 40px;
	transition: 1.5s;
	/* background: linear-gradient(90deg, #755bea, #ff72c0); */
}

#btn-a:hover {
	box-shadow: 0 5px 50px 0 #ffffffe8 inset, 0 5px 50px 0 #ffffffe8, 0 5px 50px 0 #ffffffe8 inset,
		0 5px 50px 0 #ffffffe8;
	text-shadow: 0 0 5px #00000075, 0 0 5px #00000075;
}

.slideshow {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

.slideshow li {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 0;
	z-index: 0;
	animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
	background-image: url(http://i.imgur.com/K3mPv14.jpg);
}
.slideshow li:nth-child(2) {
	background-image: url(http://i.imgur.com/SBEmFpv.jpg);
	animation-delay: 10s;
}
.slideshow li:nth-child(3) {
	background-image: url(http://i.imgur.com/emvhOnb.jpg);
	animation-delay: 20s;
}
.slideshow li:nth-child(4) {
	background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
	animation-delay: 30s;
}
.slideshow li:nth-child(5) {
	background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
	animation-delay: 40s;
}

@keyframes imageAnimation {
	0% {
		opacity: 0;
		animation-timing-function: ease-in;
	}
	10% {
		opacity: 1;
		animation-timing-function: ease-out;
	}
	20% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
}
